<h1>New Author</h1>

<%= form_with scope: :author, local: true do |form| %>
  <p>
    <%= form.label :First_name %><br>
    <%= form.text_field :First_name %>
  </p>

  <p>
    <%= form.label :'Last_name' %><br>
    <%= form.text_field :'Last_name' %>
  </p>

  <p>
    <%= form.label :'Homepage' %><br>
    <%= form.text_field :'Homepage' %>
  </p>
<% end %>